<!-- table zwave_devices search -->
<div>
    [ <a href="#" onClick="$('#api_settings').toggle();return false;">
    <#LANG_SETUP#>
</a> ]
</div>
<div style="display:none" id='api_settings'>
    &nbsp;
    <form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">
        <fieldset>
            <div class="form-group">
                <label class="control-label" [#if ERR_API_URL#] style="color:red;font-weight:bold" [#endif#]>
                    IP роутера*:
                </label>

                <div class="controls"><input type="text" name="api_url" value="[#API_URL#]" class="input"></div>
            </div>
            <div class="form-group">
                <label class="control-label" [#if ERR_ADMIN_USERNAME#] style="color:red;font-weight:bold" [#endif#]>
                    Логин*:
                </label>

                <div class="controls"><input type="text" name="admin_username" value="[#ADMIN_USERNAME#]" class="input">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" [#if ERR_ADMIN_PASSWORD#] style="color:red;font-weight:bold" [#endif#]>
                    Пароль*:
                </label>

                <div class="controls"><input type="password" name="admin_password" value="[#ADMIN_PASSWORD#]" class="input"></div>
            </div>
            <div class="form-group">
                <label class="control-label" [#if ERR_UPDATE_PERIOD#] style="color:red;font-weight:bold" [#endif#]>
                    Период опроса (сек.)*:
                </label>

                <div class="controls"><input type="text" name="update_period" value="[#UPDATE_PERIOD#]" class="input"></div>
            </div>
            <div class="form-actions">
                <button type="submit" name="subm" value="Submit" class="btn btn-primary">
                    <#LANG_UPDATE#>
                </button>
                <input type="hidden" name="view_mode" value="update_settings">
                <input type="hidden" name="mode" value="update">
            </div>
        </fieldset>
    </form>
</div>
<!-- action usual -->
[#if DATA_SOURCE="keenetic_lan_devices" || DATA_SOURCE=""#]
<!-- table keenetic_lan_devices search -->
[#if VIEW_MODE="search_keenetic_lan_devices" || VIEW_MODE=""#]
[#inc keenetic_lan_devices_search_admin.html#]
[#endif VIEW_MODE#]
<!-- / table keenetic_lan_devices search -->
<!-- table keenetic_lan_devices edit -->
[#if VIEW_MODE="edit_keenetic_lan_devices"#]
[#if ID!=""#]
[#if TITLE!=""#]<h4>[#TITLE#]</h4>[#endif TITLE#]
<ul class="nav nav-tabs">
    <li
    [#if TAB=""#] class="active"[#endif#]>
    <a href="?data_source=<#DATA_SOURCE#>&view_mode=<#VIEW_MODE#>&id=<#ID#>&tab=">
        <#LANG_GENERAL#>
    </a>
    </li>
    <li
    [#if TAB="data"#] class="active"[#endif#]>
    <a href="?data_source=<#DATA_SOURCE#>&view_mode=<#VIEW_MODE#>&id=<#ID#>&tab=data">&#060#LANG_DATA#&#062</a>
    </li>
</ul>
&nbsp;<br/>
[#endif ID#]
[#if TAB=""#]
[#inc keenetic_lan_devices_edit_default.html#]
[#endif TAB#]
[#if TAB="data"#]
[#inc keenetic_lan_devices_edit_data.html#]
[#endif TAB#]
[#endif VIEW_MODE#]
<!-- / table keenetic_lan_devices edit -->
<!-- table keenetic_lan_devices view -->
[#if VIEW_MODE="view_keenetic_lan_devices"#]
[#if TAB=""#]
[#inc keenetic_lan_devices_view_default.html#]
[#endif TAB#]
[#endif VIEW_MODE#]
<!-- / table keenetic_lan_devices view -->
[#endif DATA_SOURCE#]
<!-- action usual -->
[#if DATA_SOURCE="keenetic_lan_devices_values"#]
<!-- table keenetic_lan_devices_values search -->
[#if VIEW_MODE="search_keenetic_lan_devices_values" || VIEW_MODE=""#]
[#inc keenetic_lan_devices_values_search_admin.html#]
[#endif VIEW_MODE#]
<!-- / table keenetic_lan_devices_values search -->
<!-- table keenetic_lan_devices_values edit -->
[#if VIEW_MODE="edit_keenetic_lan_devices_values"#]
[#inc keenetic_lan_devices_values_edit.html#]
[#endif VIEW_MODE#]
<!-- / table keenetic_lan_devices_values edit -->
<!-- table keenetic_lan_devices_values view -->
[#if VIEW_MODE="view_keenetic_lan_devices_values"#]
[#inc keenetic_lan_devices_values_view.html#]
[#endif VIEW_MODE#]
<!-- / table keenetic_lan_devices_values view -->
[#endif DATA_SOURCE#]
